.App {
  display: grid;
  grid-template-rows: 50px 1fr; /* 50px for header, 1fr for the rest */
  height: 100vh; /* Use viewport height to ensure it fills the screen */
  width: 100%;
}

.App-header {
  background-color: #282c34;
  padding: 0 20px;
  color: white;
  display: flex;
  align-items: center;
  z-index: 10; /* Ensure header is on top */
  box-sizing: border-box;
}

.map-container {
  width: 100%;
  position: relative; /* Establishes a positioning context for the map */
  overflow: hidden; /* Prevents the map from spilling outside its container */
  z-index: 1; /* Add z-index to establish a stacking context */
}

